/* Base Styles */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* CSS Variables */
  --primary-color-var: #ecf0f1;
  --secondary-color-var: #2c3e50;
  --tertiary-color-var: #27ae60;
  --quaternary-color-var: #bdc3c7;
  --error-color-var: #e74c3c;
  --primary-color: var(--primary-color-var);
  --secondary-color: var(--secondary-color-var);
  --tertiary-color: var(--tertiary-color-var);
  --quaternary-color: var(--quaternary-color-var);
  --error-color: var(--error-color-var);
}

body {
  margin: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Dark and Light Mode */
body.dark {
  --primary-color: var(--secondary-color-var);
  --secondary-color: var(--primary-color-var);
  --tertiary-color: var(--tertiary-color-var);
  --quaternary-color: var(--quaternary-color-var);
}

body.light {
  --primary-color: var(--primary-color-var);
  --secondary-color: var(--secondary-color-var);
  --tertiary-color: var(--tertiary-color-var);
  --quaternary-color: var(--quaternary-color-var);
}

/* Layout Elements */
header,
nav,
section,
article,
footer {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header-title {
  margin: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  padding: 1em;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.footer-nav {
  text-align: center;
}

.footer-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav-item {
  display: inline-block;
  margin: 0 0.5em;
}

.footer-nav a {
  color: var(--primary-color);
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.main-content {
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

.main-content a {
  color: var(--tertiary-color);
}

.intro-section {
  padding: 1em;
}

.section-title {
  margin-top: 0;
}

.section-description,
.usage-list,
.usage-item,
.features-list,
.feature-item {
  margin-top: 0;
}

/* Horizontal Splitter Line */
.divider {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid var(--tertiary-color);
  margin: 1em 0;
  padding: 0;
}

/* App Layout */
.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

@media (min-width: 768px) {
  .app {
    grid-template-columns: 1fr 1fr;
  }
}

.app-item {
  padding: 1em;
  border: 1px solid var(--tertiary-color);
  border-radius: 0.5em;
}

.app h2,
.app h3 {
  margin-top: 0;
}

/* Table Styles */
.table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid var(--primary-color);
  padding: 1em;
  color: var(--primary-color);
  border-radius: 0.25em;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table th {
  text-align: left;
  background-color: var(--quaternary-color);
  padding: 0.5em;
}

.table td {
  text-align: left;
  padding: 0.5em;
}

.table td:last-child:not(:first-child) {
  text-align: right;
}

.table tr:nth-child(odd) {
  background-color: var(--secondary-color);
}

.table tr:nth-child(even) {
  background-color: var(--quaternary-color);
}

.table tr:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Tag-Guest Association Table */
#tagGuestAssociation-table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid var(--primary-color);
  padding: 1em;
  color: var(--primary-color);
}

#tagGuestAssociation-table th,
#tagGuestAssociation-table td {
  text-align: left;
  padding: 0.5em;
}

#tagGuestAssociation-table th {
  background-color: var(--quaternary-color);
}

#tagGuestAssociation-table tr:nth-child(odd) {
  background-color: var(--secondary-color);
}

#tagGuestAssociation-table tr:nth-child(even) {
  background-color: var(--quaternary-color);
}

#tagGuestAssociation-table tr:hover {
  background-color: var(--tertiary-color);
}

#tagGuestAssociation-table tr:hover td {
  color: var(--secondary-color);
}

#tagGuestAssociation-table input[type="checkbox"] {
  width: 1em;
  height: 1em;
  cursor: pointer;
}

#tagGuestAssociation-table input[type="checkbox"]:checked {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

#tagGuestAssociation-table input[type="checkbox"]:hover {
  background-color: var(--quaternary-color);
  border-color: var(--quaternary-color);
}

/* Input Styles */
.input {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  border: 1px solid var(--tertiary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.input:hover {
  background-color: var(--quaternary-color);
}

.input-button {
  width: max-content;
  height: fit-content;
  cursor: pointer;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  transition: background-color 0.3s, color 0.3s;
}

.input-button:hover {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
}

.input-inline {
  position: relative;
  display: inline-block;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0.5em;
  border: 1px solid var(--tertiary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: max-content;
  height: fit-content;
}

.dropdown-content::-webkit-scrollbar {
  width: 0.5em;
}

.dropdown-content::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--quaternary-color);
}

.hidden {
  display: none;
  transition: display 0.3s;
}

.dropdown-item {
  display: flex;
  flex-direction: row;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  cursor: pointer;
}

.dropdown-item:last-child {
  margin-bottom: 0;
}

.dropdown-item:not(:last-child) {
  margin-bottom: 0.5em;
}

.dropdown-item:hover {
  background-color: var(--quaternary-color);
}

.dropdown-item input {
  align-self: center;
  height: inherit;
  aspect-ratio: 1;
}

/* Error Styles */
.error {
  color: var(--error-color);
  font-style: italic;
}

.forbidden {
  cursor: not-allowed;
}

/* New Styles for Improved Structure */
.section-subtitle {
  margin-top: 1em;
  font-size: 1.25em;
  color: var(--tertiary-color);
}

.usage-list,
.features-list {
  list-style-type: disc;
  padding-left: 1.5em;
}

.usage-item,
.feature-item {
  margin-bottom: 0.5em;
}

.overview-item {
  margin-bottom: 1em;
}

.overview-title {
  font-size: 1.1em;
  color: var(--tertiary-color);
}

.overview-value {
  font-size: 1.25em;
  font-weight: bold;
}

.transactions-options {
  margin-bottom: 1em;
}

.form-inline {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* Styling for file input */
#fileInput {
  display: none;
}

.file-input-label {
  cursor: pointer;
  color: var(--tertiary-color);
  text-decoration: underline;
}

.file-input-label:hover {
  color: var(--quaternary-color);
}
